*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(100deg, #3100c3, #bb21e2);
    color: #333;

    padding: 200px;
    text-align: center;
}

.container {
    background: #fff5f5;
    border: 2px solid #3100c3;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    padding: 30px;
    animation: fadeIn 2s ease-in-out;
}

h2, h3 {
    color: #b30000;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"], input[type="number"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ff9999;
    border-radius: 8px;
    font-size: 16px;
}

button {
    background: #ff4e50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 8px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
    background: #e60000;
    transform: scale(1.05);
}

.cajero {
     background: #fff5f5;
    border: 2px solid #3100c3;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    padding: 30px;
    animation: fadeIn 2s ease-in-out;
}